/*

* Based on Cover by https://twitter.com/mdo"  @mdo
* added cover image and background color to match (green)
*
* Globals

*/

@font-face {
  font-family: Reckoner;  
  src: url(../../Reckoner.ttf);  
  font-weight: normal;  
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.ticket_link{
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}


/*
 * Base structure
 */

/*css for full size background image*/
html,
body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.home-container{
  background-color: #000000;
  color: #fff;
  text-align: center;
  min-height: 100%;
}

/*
 * Header
 */
/**/

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */
.home-container h1{
  font-family: 'Reckoner', serif;
  font-size: 80px;

}

.bottom-heading{
  color: #dd3333;
}

.home-container hr{
  width: 75%;
}

/* Page Content */

div.page-content{
  background-color: #ffffff;
  color: #555;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-title{
  text-align: center;
}

/* Twitter Siebar */

.twitter-sidebar{
  margin-left: 15px;
}

/* Footer */

.footer-div{
  background-color: #141B22;
  color: #555;
  margin-top: 20px;
}