/*

* Based on Cover by https://twitter.com/mdo"  @mdo
* added cover image and background color to match (green)
*
* Globals

*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 110px;
}

@font-face {
  font-family: Reckoner;  
  src: url(../../Reckoner.ttf);  
  font-weight: normal;  
}

.container-fluid{
  padding-left: 25px;
  padding-right: 25px;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.ticket_link{
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}


/*
 * Base structure
 */
.home-container{
  background-color: #000000;
  color: #fff;
  text-align: center;
  min-height: 100%;
}

/*
 * Cover
 */
.home-container h1{
  font-family: 'Reckoner', serif;
  font-size: 80px;

}

.bottom-heading{
  color: #dd3333;
}

.home-container hr{
  width: 75%;
}

/* Page Content */

div.page-content{
  background-color: #ffffff;
  color: #555;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px 25px;
}

.page-title, .page-social{
  text-align: center;
}

.page-container{
  margin-top: 40px;
}

.fa-stack-2x{
  color: #dd3333;
}

/* Twitter Siebar */

.twitter-sidebar{
  margin-left: 15px;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #141B22;
  color: #555;
  margin-top: 20px;
  overflow: hidden;
  height: 100px;
}

.lions-logo{
  max-height: 100px;
}

.logo-footer{
  text-align: center;
}

.contact-footer{
  padding-top: 10px;
}

.contact-footer ul{
  list-style-type: none;
}

.social-footer{
  text-align: center;
}

/* Single Boxer Page */

.headshot-container{
  text-align: center;
}

.single-headshot{
  border-radius: 50%;
  max-height: 250px;
}

.single-stats{
  text-align: center;
}

.knob-container{
  text-align: center;
}

.donors-title{
  text-align: center;
}

/* Give Form */

.give-form-title{
  display: none;
}

.give-custom-amount-text{
  display: none;
}

.give-goal-progress .raised{
  text-align: center;
}

.give-progress-bar{
  display: none;
}